$black: (
  main: rgb(32, 33, 36),
  second: rgb(66, 67, 71)
);

$text-color: (
  input: rgb(255, 255, 255),
  result: rgb(247, 246, 248),
  noData: rgb(207, 210, 215),
  placeHolder: rgb(197, 200, 205)
);

$icon-color: (
  default: invert(0.6),
  active: invert(0.9)
);

$input-border-color: rgb(153, 153, 153);
